.layout_header {
    background-color: #ADD8E6;
    color: red;
    text-align: center;
    padding: 25px;
}

.layout_footer {
    background-color: #ADD8E6;
    color: red;
    text-align: center;
    padding: 25px;
}
