.layout_header {
    background-color: #ADD8E6;
    color: red;
    text-align: center;
    padding: 25px;
    position: sticky;
    top: 0;
}

.layout_footer {
    background-color: #ADD8E6;
    color: red;
    text-align: center;
    padding: 25px;
    position: sticky;
    bottom: 0;
}
